/*RESET*/
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit
}
input, button {
    border: none;
    font: inherit;
}

/*BASE STYLING*/
html {
    --accent-color:  rgb(66, 221, 66);
    --accent-color-dark: rgb(46, 174, 46);
}
body {
    font-family: 'Poppins', sans-serif;
    color: #292C33;
    background-color: #fff;
    background: linear-gradient(to right,white 92%, lightgray 100%);
}

/*HEADER*/
.header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 10px;
    padding: 20px;
}
.nav {
    display: flex;
    column-gap: 5px;
    margin-left: 40px;
    align-items: center;
    
}
.name {
    font-size: 20px;
    font-weight: bold;
   text-shadow: 0.5px 0.5px grey;
}
.lists {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-right: 20px;
}
.link-item {
    list-style: none;
}
.link {
    font-size: 12px;
}
.link-btn {
    background-color: var(--accent-color-dark);
    color: rgba(255, 255, 255, 0.9);
    font-size: 10px;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    transition: all 0.4s;
}
.link-btn:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}
.btn-icon {
    margin-left: 10px;
}

/*MAIN*/
.main {
    height:100%;
}
/*SECTION-1*/
.section-1 {
    max-width: 1200px;
    background-color: #EEEFF3;
    background: linear-gradient(to right, #EEEFF3 93%, lightgray 100%);
    height: 70%;
    padding: 20px;
}
.lesson {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-left: 80px;
}
.lessons {
    
}
.heading {
    font-size: 60px;
    flex-basis: 70%;
    max-width: 650px;
    font-weight: bold;
    
}
.diff {
    color: var(--accent-color-dark);
}
.lessons, p {
    font-size: 8px;
    margin: 15px 0;
    opacity: 0.8;
}
.btn-1 {
    background-color: var(--accent-color-dark);
    color: rgba(255, 255, 255, 0.9);
    width: 80px;
    height: 30px;
    border-radius: 3px;
    transition: all 0.4s;
}
.btn-1:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}
.image {
    margin-top: 50px;
    margin-right: 50px;
    flex-basis: 25%
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--accent-color-dark);
    border-radius: 50%;
}
.dot:nth-child(2) {
    opacity: 0.4;
}
.dot:nth-child(3) {
    opacity: 0.15;
}

/*SECTION-2*/
.section-2 {
    max-width: 1200px;
    height: 30%;
}
.client {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-heading {
    margin-top: 10px;
    font-weight: 550;
    opacity: 0.8;
}
.action {
    margin-top: 10px;
    font-size: 10px;
    opacity: 0.7;
}
.logos {
    display: flex;
    justify-content: space-evenly;
}

/*SECTION-3*/
.section-3 {
    max-width: 1200px;
    height: 50%;
}
.manage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.sub-heading-1 {
    font-weight: 550;
    opacity: 0.8;
    max-width: 380px;
    text-align: center;
}
.question {
    font-size: 10px;
    opacity: 0.7;
}
.who {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.whom {
    display: flex;
    width: 170px;
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    background-color: hsl(240, 43%, 99%);
}
.who-title {
    max-width: 100px;
    line-height: 1.3;
    text-align: center;
    opacity: 0.8;
}


