* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: hsl(0, 24%, 94%);
    overflow-y: hidden;
}
header {
    border: 10px solid rgb(200, 200, 240);
    display: flex;
}
.icon {
    flex-basis: 10%;
    border: 1px solid rgb(200, 200, 240);
    background-color: rgb(200, 200, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}
.share {
    justify-items: center;
    position: absolute;
    bottom: 25px;   
}
ul {
    list-style-type: none;
}
.content {
    flex-basis: 92%;
    border: 1px solid rgb(200, 200, 240);;
    overflow-y:auto;
    height: 100vh;
}
#Home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    height: 60%;
    gap: 200px;
    border: 10px solid rgb(200, 200, 240);
}
.portrait-container {
    display: flex;
    align-items: center;
    justify-content: center;
 }
.portrait-image {
    display: flex;
    background-color: #fff;
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  5px 5px 0px 2px  black, 5px 5px 10px  rgba(0, 0, 0, 1);
    
}
.portrait-image img {
 max-width: 100%;
 height: auto;
 border-radius: 50%;
}
.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}  
.profile h2 {
    font-size: 3rem;
    color: #000;
    margin: 0px;
}
.profile p {
    font-size: 1.5rem;
    color: #7a7a7a;
}
.buttons {
    display: flex;
    gap: 10px;
}
.buttons button {
    padding: 10px 30px;
    box-shadow: 3px 3px 0px 1px black, 5px 5px 10px rgba(0, 0, 0, 1);
    background-color: #fff;
    border: 1px solid black;
    color: #000;
    cursor: pointer;
    transition: all 0.5s ease;
}
.buttons button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#About {
    height: 70%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    border: 10px solid rgb(200, 200, 240);
}
.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}
.arrow-top {
    font-size: 30px;
    color: black;
    width: 10px;
    margin-left: -65%;
    margin-bottom: 30px;
}
.arrow-bottom {
    font-size: 30px;
    color: black;
    width: 10px;
    margin-right: -55%;
    margin-top: 30px;
}
.about-container {
    background-color: white;
    width: 100%;
    max-width: 600px;
    height: 80%;
    padding: 30px;
    border-radius: 0px 50px 0px  50px;
    box-shadow: 3px 3px 0px 1px black, 0 5px 15px rgba(0, 0, 0, 1);
    border: 1px solid black;
    position: relative;
}
h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}
p {
    text-align: center;
    line-height: 1.3;
    font-style: sans-serif;
    color: rgb(25, 14, 14);
    font-size: large;
    font-weight: bold;
}
#Projects {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid rgb(200, 200, 240);
    padding: 20px 0;
    height:100%;
}
.project-heading h1 {
        text-align: center;
        margin: 20px;
        font-size: 3rem;
        color: #111;
}
.projects {
    max-width: 800px;
    margin: 0 0 0 130px;
    padding: 10px;
}
.project-items {
    position: relative;
    margin: 10px;
    float: left;
    box-shadow:   3px 3px 0px 2px black, 0px 5px 15px rgba(0, 0, 0, 1);
    border-radius: 10%;
    overflow: hidden;
}
.project-items img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 10%;
    position: relative;
    box-shadow: 3px 3px 0px 2px black, 0px 5px 15px rgba(0, 0, 0, 1);
}
#Qualification {
    width:100%;
    background-color: #f2f2f2;
    border: 10px solid rgb(200, 200, 240);
    height:100%;
}
.qualification-title {
    margin: 20px;
    font-size: 3rem;
    color: #111;
}
.qualification-item {
    text-align: left;
}
.qualification-heading {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
}
.qualification-heading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 2px;
    background-color: black;
}
.qualification-item ul, .qualification-items ul {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
    color: #111; 
}
.qualification-item ul, .qualification-items ul {
    list-style-type: none;
    padding-left: 40px;
}
.qualification-item ul li::before {
    content: '•';
    margin-right: 10px;
    color: black;
}
.qualification-items ul li ::before {
    content: none;
    margin-right: 10px;
}
#Contact {
    height: 100%;
    background-color: #f2f2f2;
    text-align: center;
    border: 10px solid rgb(200, 200, 240);
}
.contact {
    padding: 20px;
    margin: 0px auto;
    max-width: 600px;
}
.contact h2 {
    margin-bottom: 20px;
    font-size: 3rem;
    color: #000;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-row {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
    color: #333;
    text-align: left;
}
.input-group input {
    padding: 10px;
    border: 2px solid black;
    font-size: 1rem;
}
.input-group textarea {
    border: 2px solid black;
    resize: none;
}
.full-width {
    flex-basis: 80%;
}
.contact-form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 0 1px grey, 2px 2px 5px rgba(0, 0, 0, 1);
}
.contact-form button:hover {
    background-color: #555;
}